{{response.files.append(URL(r=request,c='static',f='css/demo_page.css'))}}
{{response.files.append(URL(r=request,c='static',f='css/demo_table_jui.css'))}}
{{response.files.append(URL(r=request,c='static',f='js/jquery.dataTables.js'))}}

{{extend 'layout.html'}}

<script>
    jQuery(document).ready(function(){
        jQuery('#info8').addClass('active');
        jQuery('#colors tr td, th').disableSelection(); 
        var cur_rec_name;
	var cur_rec_id;
        var checked_box;
        var color_url;
        jQuery('.master tr').click(function(e){
	    if (!jQuery('#new_color').attr('disabled')) {
                if ($(this).hasClass('row_selected')) {
                    $(this).css("background","");
                    $(this).removeClass('row_selected');
                    color_url = "{{=URL("color_details.load")}}" + "/" + {{=request.args(0)}};
                    }
                else {
                    jQuery('tr.row_selected').css("background","");
                    jQuery('tr.row_selected').removeClass('row_selected');
                    $(this).addClass('row_selected'); 
                    checked_box = jQuery('input', this);
                    cur_rec_name = jQuery(checked_box).attr('name');
                    cur_rec_id = cur_rec_name.slice(9);
                    color_url = "{{=URL("color_details.load")}}" + "/" + {{=request.args(0)}} + "/" + cur_rec_id; 
                    };
                web2py_component(color_url, 'color_details_component');
            }
	});
        jQuery.extend( $.fn.dataTable.defaults, {
	    "aaSorting": [[ 0, "desc" ]],
	    "bSortClasses": false,
            "bFilter": false,
            "bInfo": false,
            "sScrollY": "420px",
            "bPaginate": false,
            "bScrollCollapse": false
        });
        $('#colors').dataTable();
        {{if request.args(1) and request.args(1)<>'new':}}
            var input_name;
            input_name = 'color_id_' + '{{=request.args(1)}}';
            jQuery('input[name='+input_name+']').closest('tr').addClass('row_selected');
        {{pass}}
        jQuery('#new_color').click(function() {
            jQuery('.row_selected').css("background","");
            jQuery('.row_selected').removeClass('row_selected');
	    jQuery('.delete').attr('disabled', true);
	    jQuery('.save, .cancel').removeAttr('disabled');
            color_url = "{{=URL("color_details.load")}}" + "/" + {{=request.args(0)}} + "/new";
            web2py_component(color_url, 'color_details_component');
        });
    });
</script> 

{{include 'default/patient_name_bar.html'}}
{{include 'default/main_patient_menu.html'}}

<div class="span10 lightcolor2 well sunken" > 
    <div class="row-fluid">    
        <div class='span6'>
            <div class='row-fluid'>
                <div class='btn-toolbar' style="margin-top:13px;">
                    <div class='btn-group'>
                        <button class='btn btn-grey new' id='new_color'><i class="icon-plus icon-white"></i> {{=T('New Color')}}</button>
                    </div>
                </div>
            </div>
            <hr style='color: #5C6779;background-color: #5C6779;height:3px;margin-top:0px;'>
            <div class='row-fluid'>
            {{=table1}}
            </div>
        </div>     
        <div class="lightcolor1 well span6">
            {{=LOAD('default', 'color_details.load', args = [request.args(0), request.args(1)], ajax=False, ajax_trap=True, target="color_details_component")}}   
        </div>
    </div>
</div>

