{{response.files.append(URL(r=request,c='static',f='css/demo_page.css'))}}
{{response.files.append(URL(r=request,c='static',f='css/demo_table_jui.css'))}}
{{response.files.append(URL(r=request,c='static',f='js/jquery.dataTables.js'))}}

{{extend 'layout.html'}}
{{include 'default/patient_name_bar.html'}}
{{include 'default/main_patient_menu.html'}}
    <div class="span10 lightcolor2 well well-large sunken">
        <div class="row-fluid"><!-- row start-->
            <h4 style='text-decoration:underline;'>{{=table_title}}</h4>
        </div>
	<div class="row-fluid"><!-- row start-->
            {{=table1}}
        </div>
    </div>
<script>
    jQuery(document).ready(function(){
        jQuery('table, th').disableSelection();
        jQuery('.even, .odd').removeClass('even odd');
	jQuery('#info0 a').attr('href', '{{=URL("lab_update", args=[request.args(0), "new"])}}');
        jQuery('#info0 a').text(" New Lab");
	jQuery('tr').click(function(){
            var currentId_update_link = '{{=URL("lab_update")}}' + "/" + '{{=request.args(0)}}' + "/" + $(this).find('input').attr('name').substr(11);
            window.location.href = currentId_update_link;
        });
        jQuery.extend( $.fn.dataTable.defaults, {
	    "bSortClasses": false,
            "bJQueryUI": false,
            "bFilter": true,
            "bInfo": false,
            "sScrollY": "520px",
            "bPaginate": false,
            "bScrollCollapse": false,
	    "sScrollX": "100",
        });
        oTable = $('#table_labs').dataTable({
            "aoColumns": [
	    null,
            null,
            null,
            null,
            null,
            null,
	    null,
            { "bSortable": false }]
        });
        var lastChecked = null;
        jQuery('#table_labs tr').click(function(e){
            if (!lastChecked) {
                    jQuery('input', this).attr('checked', true);
                    lastChecked = jQuery('input', this);
                    jQuery('table .details').find("select, input").each(function() {
                        $(this).attr("disabled", false);
                    });
                    $(this).addClass('row_selected');
                    return;
                };
            if (e.shiftKey) {
                    var $chkboxes = $('input').not('.select_all');
                    var $t_rows = $('tr');
                    var start = $chkboxes.index(lastChecked);
                    var end = $chkboxes.index(jQuery('input', this));
                    $chkboxes.slice(Math.min(start,end) , Math.max(start,end)+ 1).attr('checked', true);
                    jQuery('input:checked').closest('tr').addClass('row_selected');
                    jQuery('input:checked').closest('tr').css("background","#ADEBFF");
            }
            else {
                if ($(this).hasClass('row_selected')) {
                    $(this).css("background","");
                    $(this).removeClass('row_selected');
                    jQuery('input', this).attr('checked', false);
                    }
                else {
                    jQuery('tr.row_selected').css("background","");
                    jQuery('tr.row_selected').removeClass('row_selected');
                    $(this).addClass('row_selected');
                    jQuery('input').attr('checked', false);
                    jQuery('input', this).attr('checked', true);
                    };
            };
            lastChecked = jQuery('input', this);
            var checked_boxes = jQuery('*').find('input:checked');
            if ($(checked_boxes).size()>0) {
                jQuery('table .details').find("select, input").each(function() {
                    $(this).attr("disabled", false);
                });
            }
            else {
                jQuery('table .details').find("select, input").each(function() {
                    $(this).attr("disabled", true);
                });
            };

        });
    });
</script>
