<div class='row-fluid' style="background-image: url( '{{=URL("static","images/ricepaper.png")}}'); height:25px;box-shadow: 0 0 5px  black inset;">
 
    <div class='offset1'>
        <div class='pagination-centered'>
            <div class="row-fluid" style='margin-top:8px;'>
                <span class="btn btn-silver" style='font-size: small;padding:5px 15px;'>{{=patient_name}}</span>
            </div>
        </div>
    </div>  

</div>
 <script>
jQuery('.label').disableSelection();
</script>